.mapbox-base {
  fill: #FFF;
  stroke: #AAA;
  stroke-width: 4;
}

.mapbox-name {
  font-family: sans-serif;
  font-size: 32px;
}

.legend-color {
  stroke: #AAA
}

.legend-text {
  font-family: sans-serif;
  font-size: 24px;
}

.area {
  fill: #F3F3F3;
  stroke: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.border {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
